body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:877px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2978 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:806px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2979 {
  position:absolute;
  left:350px;
  top:41px;
  width:375px;
  height:806px;
}
#u2980 {
  position:absolute;
  left:2px;
  top:395px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u2981 {
  position:absolute;
  left:349px;
  top:41px;
  width:375px;
  height:20px;
}
#u2982 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u2983 {
  position:absolute;
  left:358px;
  top:49px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(165deg);
  -moz-transform:rotate(165deg);
  -ms-transform:rotate(165deg);
  transform:rotate(165deg);
}
#u2984 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u2985 {
  position:absolute;
  left:368px;
  top:49px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(165deg);
  -moz-transform:rotate(165deg);
  -ms-transform:rotate(165deg);
  transform:rotate(165deg);
}
#u2986 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u2987 {
  position:absolute;
  left:378px;
  top:49px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(165deg);
  -moz-transform:rotate(165deg);
  -ms-transform:rotate(165deg);
  transform:rotate(165deg);
}
#u2988 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u2989 {
  position:absolute;
  left:388px;
  top:49px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(165deg);
  -moz-transform:rotate(165deg);
  -ms-transform:rotate(165deg);
  transform:rotate(165deg);
}
#u2990 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2991 {
  position:absolute;
  left:397px;
  top:44px;
  width:57px;
  height:16px;
}
#u2992 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2993 {
  position:absolute;
  left:501px;
  top:44px;
  width:70px;
  height:16px;
}
#u2994 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u2995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:12px;
}
#u2995 {
  position:absolute;
  left:688px;
  top:46px;
  width:27px;
  height:12px;
}
#u2996 {
  position:absolute;
  left:2px;
  top:-2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2997 {
  position:absolute;
  left:360px;
  top:71px;
  width:15px;
  height:15px;
}
#u2998 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2999 {
  position:absolute;
  left:665px;
  top:495px;
  width:1px;
  height:16px;
}
#u3000 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u3001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3001 {
  position:absolute;
  left:351px;
  top:268px;
  width:373px;
  height:44px;
}
#u3002 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u3003 {
  position:absolute;
  left:389px;
  top:283px;
  width:29px;
  height:16px;
  color:#6B6B6B;
}
#u3004 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9933;
}
#u3005 {
  position:absolute;
  left:638px;
  top:283px;
  width:73px;
  height:16px;
  color:#FF9933;
}
#u3006 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3007_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:48px;
  height:9px;
}
#u3007 {
  position:absolute;
  left:653px;
  top:309px;
  width:43px;
  height:4px;
}
#u3008 {
  position:absolute;
  left:2px;
  top:-6px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3009 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:69px;
}
#u3010 {
  position:absolute;
  left:482px;
  top:71px;
  width:78px;
  height:69px;
}
#u3011 {
  position:absolute;
  left:2px;
  top:26px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3012 {
  position:absolute;
  left:552px;
  top:128px;
  width:20px;
  height:20px;
}
#u3013 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3014 {
  position:absolute;
  left:486px;
  top:151px;
  width:71px;
  height:16px;
}
#u3015 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3016 {
  position:absolute;
  left:579px;
  top:151px;
  width:43px;
  height:16px;
}
#u3017 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:2px;
}
#u3018 {
  position:absolute;
  left:390px;
  top:173px;
  width:282px;
  height:1px;
}
#u3019 {
  position:absolute;
  left:2px;
  top:-8px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3020 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3021 {
  position:absolute;
  left:452px;
  top:184px;
  width:20px;
  height:20px;
}
#u3022 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3023 {
  position:absolute;
  left:482px;
  top:188px;
  width:109px;
  height:16px;
}
#u3024 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u3025 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3026 {
  position:absolute;
  left:471px;
  top:212px;
  width:20px;
  height:20px;
}
#u3027 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3028 {
  position:absolute;
  left:501px;
  top:216px;
  width:71px;
  height:16px;
}
#u3029 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3030 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3031 {
  position:absolute;
  left:464px;
  top:238px;
  width:20px;
  height:20px;
}
#u3032 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3033 {
  position:absolute;
  left:494px;
  top:242px;
  width:85px;
  height:16px;
}
#u3034 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u3035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u3035 {
  position:absolute;
  left:497px;
  top:282px;
  width:79px;
  height:16px;
  color:#6B6B6B;
}
#u3036 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u3037 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3038 {
  position:absolute;
  left:361px;
  top:322px;
  width:30px;
  height:30px;
}
#u3039 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3040 {
  position:absolute;
  left:391px;
  top:329px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u3041 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3042 {
  position:absolute;
  left:471px;
  top:329px;
  width:86px;
  height:15px;
  font-size:12px;
}
#u3043 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u3044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3044 {
  position:absolute;
  left:666px;
  top:328px;
  width:54px;
  height:15px;
  font-size:12px;
}
#u3045 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u3046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:109px;
}
#u3046 {
  position:absolute;
  left:351px;
  top:358px;
  width:373px;
  height:109px;
}
#u3047 {
  position:absolute;
  left:2px;
  top:46px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3048_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:380px;
  height:10px;
}
#u3048 {
  position:absolute;
  left:351px;
  top:358px;
  width:375px;
  height:5px;
}
#u3049 {
  position:absolute;
  left:2px;
  top:-6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3050 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3051 {
  position:absolute;
  left:360px;
  top:468px;
  width:30px;
  height:30px;
}
#u3052 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3053 {
  position:absolute;
  left:390px;
  top:475px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u3054 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3055 {
  position:absolute;
  left:470px;
  top:475px;
  width:99px;
  height:15px;
  font-size:12px;
}
#u3056 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u3057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3057 {
  position:absolute;
  left:667px;
  top:476px;
  width:51px;
  height:15px;
  font-size:12px;
}
#u3058 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u3059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:73px;
}
#u3059 {
  position:absolute;
  left:351px;
  top:501px;
  width:372px;
  height:73px;
}
#u3060 {
  position:absolute;
  left:2px;
  top:28px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3061 {
  position:absolute;
  left:360px;
  top:574px;
  width:30px;
  height:30px;
}
#u3062 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3063 {
  position:absolute;
  left:390px;
  top:581px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u3064 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3065 {
  position:absolute;
  left:470px;
  top:581px;
  width:99px;
  height:15px;
  font-size:12px;
}
#u3066 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u3067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3067 {
  position:absolute;
  left:669px;
  top:581px;
  width:37px;
  height:15px;
  font-size:12px;
}
#u3068 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:73px;
}
#u3069 {
  position:absolute;
  left:351px;
  top:607px;
  width:372px;
  height:73px;
}
#u3070 {
  position:absolute;
  left:2px;
  top:28px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3071 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3072 {
  position:absolute;
  left:361px;
  top:680px;
  width:30px;
  height:30px;
}
#u3073 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3074 {
  position:absolute;
  left:391px;
  top:687px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u3075 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3076 {
  position:absolute;
  left:470px;
  top:687px;
  width:85px;
  height:15px;
  font-size:12px;
}
#u3077 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u3078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3078 {
  position:absolute;
  left:672px;
  top:686px;
  width:53px;
  height:15px;
  font-size:12px;
}
#u3079 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u3080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:109px;
}
#u3080 {
  position:absolute;
  left:351px;
  top:716px;
  width:369px;
  height:109px;
}
#u3081 {
  position:absolute;
  left:2px;
  top:46px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3082_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:376px;
  height:10px;
}
#u3082 {
  position:absolute;
  left:351px;
  top:716px;
  width:371px;
  height:5px;
}
#u3083 {
  position:absolute;
  left:2px;
  top:-6px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3084 {
  position:absolute;
  left:687px;
  top:68px;
  width:29px;
  height:16px;
}
#u3085 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:235px;
  background:inherit;
  background-color:rgba(255, 204, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  text-align:left;
}
#u3086 {
  position:absolute;
  left:18px;
  top:41px;
  width:304px;
  height:235px;
  text-align:left;
}
#u3087 {
  position:absolute;
  left:2px;
  top:2px;
  width:300px;
  word-wrap:break-word;
}
#u3088 {
  position:absolute;
  left:675px;
  top:283px;
  width:0px;
  height:0px;
}
#u3088_seg0 {
  position:absolute;
  left:-4px;
  top:-17px;
  width:8px;
  height:17px;
}
#u3088_seg1 {
  position:absolute;
  left:-4px;
  top:-17px;
  width:140px;
  height:8px;
}
#u3088_seg2 {
  position:absolute;
  left:128px;
  top:-17px;
  width:8px;
  height:29px;
}
#u3088_seg3 {
  position:absolute;
  left:122px;
  top:-1px;
  width:20px;
  height:20px;
}
#u3089 {
  position:absolute;
  left:22px;
  top:-21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3090 {
  position:absolute;
  left:753px;
  top:295px;
  width:124px;
  height:16px;
}
#u3091 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
